@model Data.Models.AdminViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/layout2.cshtml";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayName("userrole")
        </th>
        <th>
            @Html.DisplayName("phoneNumber")
        </th>
        <th>
            @Html.DisplayName("email")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.users) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userRole)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.userID }) |
            @Html.ActionLink("Details", "Details", new { id=item.userID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.userID })
        </td>
    </tr>
}

</table>


<table class="table">
    <tr>
        <th>
            @Html.DisplayName("title")
        </th>
        <th>
            @Html.DisplayName("ID")
        </th>
        <th>
            @Html.DisplayName("body")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.posts)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.body)
            </td>
          
                          
        </tr>
    }

</table>
